#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CFLAGS := $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

# Packages with own debug package
pkgs_dbg := $(shell dh_listpackages | grep dbg | sed -e 's|-dbg||')

%:
	dh $@ --list-missing --parallel --with pkgkde_symbolshelper

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_strip:
	$(foreach pkg,$(pkgs_dbg),dh_strip -p$(pkg) --dbg-package=$(pkg)-dbg;)

override_dh_auto_test:
